<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png?">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/clean-blog.min.css')}}" type="text/css" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_recipes') }}">View Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_recipes') }}">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('edit_recipes') }}">Edit Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Signup/Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image:url(../static/img/fresh-food-bg.jpg) ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Fitness Cookbook</h1>
                        <span>Create &amp; Find great recipes to keep you fit!</span>
                        <script>
                            function myFunction() {
                                // Declare variables
                                var input, filter, ul, li, a, i;
                                input = document.getElementById("mySearch");
                                filter = input.value.toUpperCase();
                                ul = document.getElementById("myMenu");
                                li = ul.getElementsByTagName("li");

                                // Loop through all list items, and hide those who don't match the search query
                                for (i = 0; i < li.length; i++) {
                                    a = li[i].getElementsByTagName("a")[0];
                                    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                        li[i].style.display = "";
                                    }
                                    else {
                                        li[i].style.display = "none";
                                    }
                                }
                            }
                        </script>
                        <input type="text/javascript" src="../static/js/search.js" type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container-fluid">
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() { scrollFunction() };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("myBtn").style.display = "block";
                }
                else {
                    document.getElementById("myBtn").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }
        </script>
        <button type="text/javascript" src="../static/js/scrollbutton.js" onclick="topFunction()" id="myBtn" title="Go to top"> <i class="material-icons">arrow_upward</i></button> {% block content %} {% endblock %}
    </div>

    <footer>
        <!--<p class="center footer-text">Cooked up by Derek Olson-->
        <!--    <img class="footer-image" src="../static/img/Github.png"></img>-->
        <!--</p>-->
    </footer>
</body>

</html>
