{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <h2 class="center">{{page_title}}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <p>Here is the data</p>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                                    <p>Here is the data</p>

                    <!--Does not work!-->
                    <!--Data View-->
                    <div>
                        <div id="bar"></div>
                    </div>
                    <!--D3-->
                    <script type="text/javascript" src="../static/js/d3.js" charset="utf-8"></script>
                    <!--Crossfilter-->
                    <script type="text/javascript" src="../static/js/crossfilter.js"></script>
                    <!--DC-->
                    <script type="text/javascript" src="../static/js/dc.min.js" charset="utf-8"></script>
                    <link rel="stylesheet" type="text/css" href="../static/css/dc.css" />

                    <script language="javascript">
                        var chart = dc.barChart('#bar');

                        d3.csv("../static/data/people.csv", function(errors, people) {
                            var mycrossfilter = crossfilter(people);

                            var ageDimension = mycrossfilter.dimension(function(data) {
                                return ~~((Date.now() - new Date(data.DOB)) / (31557600000));
                            });
                            var ageGroup = ageDimension.group().reduceCount();

                            chart
                                .width(800)
                                .height(300)
                                .x(d3.scale.linear().domain([15, 70]))
                                .brushOn(false)
                                .yAxisLabel("Count")
                                .xAxisLabel("Age")
                                .dimension(ageDimension)
                                .group(ageGroup)
                                .on('renderlet', function(chart) {
                                    chart.selectAll('rect').on('click', function(d) {
                                        console.log('click!', d);
                                    });
                                });
                            chart.render();
                        });
                    </script>

                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
