{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 center">
                    <img class="thumbnail" src="{{ recipe.image }}" alt="Profile image for {{recipe.recipe_name}}"></img>
                    <br>
                    <h2 class="center">{{page_title}} {{ recipe.recipe_name }}</h2>
                    <p>This will permenatly delete {{ recipe.recipe_name }}.</p>
                    <p>Are you sure?</p>
                    <p>
                        <form action="{{url_for('delete_recipe', recipe_id=recipe._id)}}" , methods='POST'>
                            <!--Go Back-->
                            <a href="{{ url_for('recipe_page', recipe_id=recipe._id)}}"> <button class="btn waves-effect waves-light btn-large" type="button" name="url" id="goBack"><i class="material-icons left">arrow_back</i><b>No! Take me back to {{ recipe.recipe_name }}!</b></button></a>
                            <!--Submit-->
                            <button class="btn waves-effect waves-light btn-large red" type="submit" name="action" id="deleteRecipeButton"><i class="material-icons left">delete</i><b>Yes I want to delete {{ recipe.recipe_name }}</b></button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
