{% extends 'base.html' %} {% block content %}

Carousel will go here
<!--Materialize carousel-->
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });
     $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
</script> 
 <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!">Eggs to Go<img src="../static/img/Breakfast.jpg"></a>
    <a class="carousel-item" href="#two!">Pulled Chicken<img src="../static/img/Poultry.jpg"></a>
    <a class="carousel-item" href="#three!">Best Beef Rub<img src="../static/img/Beef.jpg"></a>
    <a class="carousel-item" href="#four!">Stir-Fried Broccoli<img src="../static/img/Sides.jpg"></a>
  </div>
 
{% endblock %}
