{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="">
                <h2 class="post-title">
                    This is an excellent go-to breakfast for those rushed mornings on the way to work.
                </h2>
                <h3 class="post-subtitle">
                    Calories: 145
                </h3>
            </a>
            
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    By far one of the easiest things to cook, pulled chicken can be enjoyed in a multitude of ways.
                </h2>
                <h3 class="post-subtitle">
                    Calories: 120
                </h3>
            </a>
            
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    A combination guarenteed to rev up your metabolism, this is a great rub to leep on hand.
                </h2>
                <h3 class="post-subtitle">
                    Calories: 0
                </h3>
            </a>
           
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Chinese take out doesn't hold a candle to this amazing side dish. </h2>
                <h3 class="post-subtitle">
                    Calories: 50
                </h3>
            </a>
           
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="/get_recipes">More Recipes &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}
