{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <h2 class="center">{{page_title}}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <!--Featured Recipe-->
                    <div class="card">
                        <div class="card-image">
                            <img class="" src="../static/img/Poultry.jpg">
                            <span class="card-title">Pulled Chicken</span>
                        </div>
                        <div class="card-content">
                            <p> By far one of the easiest things to cook, pulled chicken can be enjoyed in a multitude of ways.</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('get_recipes') }}">View more Recipes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
