{% extends 'base.html' %}
{% block content %}
    {% for recipe in recipes %}
       <h2> {{recipe.recipe_name}}</h2>
       <h4> {{recipe.category_name}}</h4>
       <!--image goes here-->
        <p> {{recipe.recipe_description}}</p>
        <p> {{recipe.recipe_ingredients}}</p> 
        <p> {{recipe.recipe_preperation_1}}</p> 
       <p>  {{recipe.recipe_preperation_2}}</p> 
        <p> {{recipe.recipe_preperation_3}}</p> 
        <p> {{recipe.recipe_preperation_4}}</p> 
       <p> Amount: {{recipe.amount}}</p> 
       <p> Prep Time: {{recipe.preperation_time}}</p> 
       <p> Cook Time: {{recipe.cook_time}}</p> 
       <p> Calories: {{recipe.calories}}</p> 
       <p> Carbohydrates: {{recipe.carbohydrates}}</p> 
       <p> Fat:  {{recipe.fat}}</p> 
       <p> Protien: {{recipe.protein}}</p> 
    {% endfor %}
{% endblock %}