{% extends 'base.html' %} {% block content %} 
<h2 class="center">{{page_title}}</h2>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
{% for recipe in recipes %}  {% if loop.index % 2 != 0 %}
<div class="row featurette">
    <div class="col-md-7">
        <h3><a href="{{ url_for('recipe_page', recipe_id=recipe._id)}}">{{ loop.index }}. {{ recipe.recipe_name }}</a></h3>
        <p><i>{{ recipe.recipe_description }}</i></p>
<p> <b>Cooked</b>: {{recipe.cooked}}</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image thumbnail-right" src="{{ recipe.image }}" alt="Picture of {{ recipe.name }}">
    </div>
</div>
{% else %}
<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image thumbnail-left" src="{{ recipe.image }}" alt="Picture of {{ recipe.name }}">
    </div>
    <div class="col-md-7 align-right">
        <h3><a href="{{ url_for('recipe_page', recipe_id=recipe._id)}}">{{ loop.index }}. {{ recipe.recipe_name }}</a></h3>
        <p></i>{{ recipe.recipe_description }}</i></p>
<p> <b>Cooked</b>: {{recipe.cooked}}</p>
    </div>
</div>

{% endif %} {% if loop.index != 13 %}
<hr class="featurette-divider"> {% endif %} {% endfor %}
</div>
</div>
</div>
{% endblock %}

