{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-md-5">
<img class="recipe-image" src="{{recipe.image}}" alt="Profile image for {{recipe.recipe_name}}"></img>
        <h2 class="col-md-7">{{ recipe.recipe_name }}</h2>
    </div>
</div>

<div class="col-md-12">
<p> <i>{{recipe.recipe_description}}</i></p>
<p><b>Ingredients</b>: {{recipe.recipe_ingredients}}</p>
<p><b>Preperation</b>: {{recipe.recipe_preperation_1}}</p>
<p> {{recipe.recipe_preperation_2}}</p>
<p> {{recipe.recipe_preperation_3}}</p>
<p> {{recipe.recipe_preperation_4}}</p>
<p> <b>Amount</b>: {{recipe.amount}}</p>
<p> <b>Prep Time</b>: {{recipe.preperation_time}}</p>
<p> <b>Cook Time</b>: {{recipe.cook_time}}</p>
<p> <b>Calories</b>: {{recipe.calories}}</p>
<p> <b>Carbohydrates</b>: {{recipe.carbohydrates}}</p>
<p> <b>Fat</b>: {{recipe.fat}}</p>
<p> <b>Protien</b>: {{recipe.protein}}</p>
</div>

{% endblock %}